@mixin clearfix {
	&::after{
		content: "";
		display: table;
		clear: both;
	}
}

@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

//media query manager
/*
0-600 px: phone
900-1200 tablet landscape
600-900: tablet portrait
(1200-1800) is where normal styles apply/desktop first
1800plus big desktop
*/


//breakpoint argument choices:
// --phone
// --tab-portrait
// --tab-landscape
// --big-desktop


//order: base + typopgraphy >general layout > components

//1 em = 16px


@mixin respond($breakpoint){
	@if $breakpoint == phone {
		@media (max-width: 37.5em){ @content }; //600px
	}
	@if $breakpoint == tap-port {
		@media (max-width: 56.25em){ @content }; //900px
	}
	@if $breakpoint == tab-landscape {
		@media (max-width: 75em){ @content }; //1200px
	}
	@if $breakpoint == big-desktop {
		@media (min-width: 112.5em){ @content }; //1800px
	}

}
